*.log
/tts
home-assistant.log
.storage/
home-assistant.log.*
home-assistant.log.fault
zigbee.db
.cloud/
secrets.yaml
custom_components/
zigbee.db-journal
www/community
harmony_*.conf
.google_fit.token
insteon_devices.json
.HA_VERSION
music_assistant.db
aircast.xml
www/plex_assist_tts
temp
appdaemon
blueprints
glances
image
node-red
python_scripts
tools
themes/
!themes/metro.yaml
/templates
notebooks
.ps4-games.*.json

config/amcrest.yaml
config/notify.yaml
config/influxdb.yaml
config/media_player.yaml
config/rest_command.yaml
config/switch.yaml
config/cors_allowed_origins.yaml
config/recorder.yaml
config/lock.yaml
config/groups

secret-*.yaml

configuration.yaml
www/nearby-map.png

esphome/.esphome
esphome

ui/ui-smartdisplays.yaml
ui/ui-lovelace-experiments.yaml
ui/views/security.yaml
ui/views/secret
ui/views/machines/astralplane.yaml
ui/views/machines/dorothy*.yaml
README.md

automations.yaml